<!DOCTYPE html>
<html>
<head>
 <title>Coleadr v.0.3</title>


<%= stylesheet_link_tag 'bootstrap' %>
<%= stylesheet_link_tag 'font-awesome-4.6.3/css/font-awesome' %>
<%= stylesheet_link_tag 'marketing' %>
<%= javascript_include_tag 'jquery' %>
<%= javascript_include_tag 'bootstrap' %>

</head>
<!--need padding on the body because of the fixed-top navbar -->
<body style="padding-top: 50px">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-3 col-sm-3 col-xs-11">
						<div class="navbar-header">
						<h1 class="appName">CoLeadr</h1>
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div><!--navbar-header-->
					</div><!--col-md-3-->
					<div class="col-md-9 col-sm-9 col-xs-1">
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav">
								<li><%= link_to('About', about_page_path) %></li>
								<li><a href="#">Contact</a></li>
								<li><a href="#">Features</a></li>
								<li><%= link_to('Home', root_path) %></li>
							<% if user_signed_in? %>
							  <li style="float:right;">
						  		<%= link_to('Log Out', destroy_user_session_path, :method => :delete) %>        
						  		</li>
							<% else %>
						  		<li style="float:right;">
						  	 	  <%= link_to("Log In", new_user_session_path)  %>
							  	</li>
							  	<li style="float:right;">
						  		  <%= link_to "Sign Up", new_account_path %>
						  		</li>
							<% end %>
						</ul>
					</div><!--col-md-9-->
				</div><!--row-->
				</div><!-- /.navbar-collapse -->
					</div>
			</div><!--container-fluid-->
	</nav>
<%= yield %>
</body>
</html>
